*{
	padding:0px;
	margin:0px;
	font-family: Open Sans;
}

header{
	background-color: teal;
	height:300px;
	width:100%;
}

.circle-perfil{
	background-color: white;
	height: 150px;
	width: 150px;
	margin:auto;
	margin-top: 70px;
	border-radius: 100%;
	border: 10px solid #00C1CC;
}

.text-prin{
	background-color: #B6FBFF;
	color: black;
	font-size: 17px;
	margin-top:15px;
	border-radius: 0.3em;
	width: 100%;
}

menu{
	background-color: #B6FBFF;
	width: 100%;
	height: 50px;
	margin-top: -20px;
}

menu nav ul li{
	list-style: none;
	float:left;
	height: 50px;
	padding-top:10px;
}

menu nav ul li a{
	color: black;
	font-size:20px;
	margin-left: 10px;
	margin-right:10px;
}

menu nav ul li a:hover{
	color:white;
}

menu nav ul li:hover{
	background-color: #00C1CC;
	color: #eee;
}

aside{
	background-color: blue;
}

.title-prin{
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
}

.card{
	background-color: #00C1CC;
	width: 100%;
	text-align: center; 
	margin-top: 10px;
	padding-top: 15px;
}

.card i{
	color:white;
	font-size:50px;
}

.card span{
	color:white;
}

.card:hover{
	background-color: #267A7F;
}

.title-comp{
	margin-top:20px;
	border-bottom: 1px solid #ccc;
}

footer{
	background-color: black; 
	width: 100%;
	height: 240px;
	margin-top:40px;
	color:white;
}

#nav-prin{
	top: 15px;
	right: 15px;
	position: absolute;
}

#nav-prin i{
	font-size: 30px;
	color: white;
}

a:hover{
	cursor: hand;
}

/**
 * MENU MATCOL
 */
.menu{
	background-color: rgba(0,0,0, 0.9);
	width: 100%;
	height: 100%;
	z-index: 1;
	position: fixed;
	top: 0px;
	display: none;
}

.menu .component{
	background-color: white;
	width: 80%;
	height: 100px;
	margin-top: 40%;
	margin-left: 10%;
	clear:both;
	position: relative;
	text-align: center;
	border: 5px double teal; 
	border-radius: 10px;
}

.component i{
	margin-top: 10px;
	font-size:50px;
	float:left;
	clear:both;
	width: 100%;
	color: teal;
}

.component span{
	float: left;
	clear: both;
	width: 100%;
	color: teal;
	font-weight: bolder;
}

.close-menu{
	top:10px;
	right:10px;
	position: absolute;
}

.close-menu img{
	height: 15px;
	cursor: pointer;
}

.text-right{
	text-align: right;
}

@media (max-width: 640px) {
	.menu .component {
		margin-top: 15%;
	}
}

div[class^="menu-"]{
	background-color: white;
	color:teal;
	box-sizing: border-box;
	padding: 0px;
	width: 80%;
	margin:auto;
	margin-top:10px;
}

div[class^="menu-"] ul li{
	list-style: none;
	border-bottom: 1px solid #ddd;
	padding-top:10px;
	padding-bottom: 10px;
	margin-right:0px;
	margin-left:-20px;
	text-align: center;

}

div[class^="menu-"] ul li a{
	color: black;
	text-decoration: none;
	width: 500px;
}
div[class^="menu-"] a{
	color:teal;
}

div[class^="menu-"] ul li:hover{
	background-color: teal;
	color: white !important;
}

.no-display{
	display: none;
}

.normal{
	width:45%;
	float:left;
}
.normal-one{
	float: left;
	clear:both;
	width: 45%;
	margin-left:20px;
}

.field-medios{
	border: 1px solid #eee;
}

.field-medio .row{
	margin-left:20px;
}

.btn-send{
	background-color: teal;
	padding: 10px;
	border: 1px solid teal;
	border-radius: 0.5px;
	color:white;
	margin-right: 15px;
}

.btn-sender{
	background-color: #004400;
	padding: 10px;
	border: 1px solid white;
	border-radius: 0.5px;
	color:white;
	margin-right: 15px;
}

.vistaPreviaFirma{
    width: 388px;
    height: 90px;
    border: 1px solid #00C1CC;
}