#content-login{
	background-color: rgba(255,255,255,0.5);
	top: 30%;
	width: 350px;
	margin:auto;
	padding: 30px;
	margin-top:100px;
	border: 1px solid teal;
	border-radius: 10px;
}

body{
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.copyr{
	color:teal;
}

.teal{
	background-color: teal !important;
	border: 1px solid white;
}

